{% load i18n %}

<div class="row row-offcanvas row-offcanvas-left">
  <div id="behaviors-sidebar" class="col-xs-5 col-sm-2 sidebar sidebar-offcanvas" role="navigation">
    <div id="elements-beh" class="panel-group">
      <div class='form-group'>
        <button id="simulate" type="button" class="btn btn-default">Simulate</button>
      </div>
      <div class='form-group'>
        <label for='initial-time' class='control-label'>Tiempo inicial</label>
        <input id='initial-time' type='text' name='initial-time' class='form-control' maxlength='200' placeholder='Tiempo inicial' value='0'>
      </div>
      <div class='form-group'>
        <label for='final-time' class='control-label'>Tiempo final</label>
        <input id='final-time' type='text' name='final-time' class='form-control' maxlength='200' placeholder='Tiempo final' value='100'>
      </div>
      <div class='form-group'>
        <label for='delta-time' class='control-label'>Paso de simulación</label>
        <input id='delta-time' type='text' name='delta-time' class='form-control' maxlength='200' placeholder='Paso de simulación' value='1'>
      </div>
      
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#parameter-list-beh">
            <h4 class="panel-title">{% trans 'parameters'|capfirst %}</h4>
          </a>
        </div>
        <div id="parameter-list-beh" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="panel-group" id="parameter-items-beh">
                              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#stock-list-beh">
            <h4 class="panel-title">{% trans 'stocks'|capfirst %}</h4>
          </a>
        </div>
        <div id="stock-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="stock-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#flow-list-beh">
            <h4 class="panel-title">{% trans 'flows'|capfirst %}</h4>
          </a>
        </div>
        <div id="flow-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="flow-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#auxiliary-list-beh">
            <h4 class="panel-title">{% trans 'auxiliaries'|capfirst %}</h4>
          </a>
        </div>
        <div id="auxiliary-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="auxiliary-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#exogenous-list-beh">
            <h4 class="panel-title">{% trans 'exogenous'|capfirst %}</h4>
          </a>
        </div>
        <div id="exogenous-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="exogenous-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#delay-list-beh">
            <h4 class="panel-title">{% trans 'delays'|capfirst %}</h4>
          </a>
        </div>
        <div id="delay-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="delay-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#multiplier-list-beh">
            <h4 class="panel-title">{% trans 'multipliers'|capfirst %}</h4>
          </a>
        </div>
        <div id="multiplier-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="multiplier-items-beh">
              
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#fis-list-beh">
            <h4 class="panel-title">{% trans 'fis'|capfirst %}</h4>
          </a>
        </div>
        <div id="fis-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="fis-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#previousvalue-list-beh">
            <h4 class="panel-title">{% trans 'previous values'|capfirst %}</h4>
          </a>
        </div>
        <div id="previousvalue-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="previousvalue-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-beh" href="#submodel-list-beh">
            <h4 class="panel-title">{% trans 'submodels'|capfirst %}</h4>
          </a>
        </div>
        <div id="submodel-list-beh" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="submodel-items-beh">
              
            </div>
          </div>
        </div>
      </div>
      
    </div>    
  </div>
  <div id="behaviors-workarea" class="col-xs-18 col-sm-10">
    <p class="pull-left visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "toggle nav"|capfirst %}</button>
    </p>
      
    <div id="language-beh" class="language">
      <div id="contVisualizador">
          <div id="visualizador">
              
          </div>
      </div>
    </div>
    <div id="messages-beh" class="messages centered">
          
    </div>
  </div>    
</div>