{% load i18n %}

<div class="row row-offcanvas row-offcanvas-left">
  <div id="equations-sidebar" class="col-xs-6 col-sm-3 sidebar sidebar-offcanvas" role="navigation">
    <div id="elements-equ" class="list-group">
      <a id="mathematical-language" href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">{% trans "mathematical language model title"|capfirst  %}</h4>
        <p class="list-group-item-text">{% trans "mathematical language model content"|capfirst %}</p>
      </a>
      <a id="javascript-language" href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{% trans "javascript language model title"|capfirst %}</h4>
        <p class="list-group-item-text">{% trans "javascript language model content"|capfirst %}</p>
      </a>
    </div>    
  </div>
  <div id="equations-workarea" class="col-xs-12 col-sm-9">
    <p class="pull-left visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "toggle nav"|capfirst %}</button>
    </p>
      
    <div id="language-equ" class="language">
      
    </div>
    <div id="messages-equ" class="messages centered">
          
    </div>
  </div>    
</div>