{% load i18n %}

<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-5 col-sm-2 sidebar sidebar-offcanvas" id="influences-sidebar" role="navigation">
      <div class="panel-group" id="influences-accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#influences-accordion" href="#collapseOne">
                  <h4 class="panel-title">Item #1</h4>
              </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              One <a href="/editor/"><i class="fa fa-dashboard"></i> {% trans "overview"|capfirst %}</a>
            </div>
          </div>
        </div>
        
         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#influences-accordion" href="#collapseTwo">Item #2</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="accordion2">
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2One">Item #2 1</a>
                    </h4>
                  </div>
                  <div id="collapse2One" class="panel-collapse collapse in">
                    <div class="panel-body">
                      One <a href="/editor/"><i class="fa fa-dashboard"></i> {% trans "overview"|capfirst %}</a>
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2Two">Item #2 2</a>
                    </h4>
                  </div>
                  <div id="collapse2Two" class="panel-collapse collapse">
                    <div class="panel-body">
                      Two
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2Three">Item #2 3</a>
                    </h4>
                  </div>
                  <div id="collapse2Three" class="panel-collapse collapse">
                    <div class="panel-body">
                      Three
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2Four">Item #2 4</a>
                    </h4>
                  </div>
                  <div id="collapse2Four" class="panel-collapse collapse">
                    <div class="panel-body">
                      Four
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2Five">Item #2 5</a>
                    </h4>
                  </div>
                  <div id="collapse2Five" class="panel-collapse collapse">
                    <div class="panel-body">
                      Five
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2Six">Item #2 6</a>
                    </h4>
                  </div>
                  <div id="collapse2Six" class="panel-collapse collapse">
                    <div class="panel-body">
                      Six
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2Seven">Item #2 7</a>
                    </h4>
                  </div>
                  <div id="collapse2Seven" class="panel-collapse collapse">
                    <div class="panel-body">
                      Seven
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="col-xs-13 col-sm-10">
      <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "toggle nav" %}</button>
      </p>
      <div id="toolbar-inf" class="toolbar centered">
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf cursor btn title'|capfirst %}">
            <span class="toolbar-btn evo-cursor"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf concept btn title'|capfirst %}">
            <span class="toolbar-btn evo-concept"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf cycle btn title'|capfirst %}">
            <span class="toolbar-btn evo-cycle"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf material relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-material-rel"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf information relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-information-rel"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf sector btn title'|capfirst %}">
            <span class="toolbar-btn evo-sector"></span>
          </button>
        </div>   
      </div>
      
      <div id="language-inf" class="language">
          <div id="svg-div-inf" class="cont-svg">
            Influencias
          </div>
      </div>
  </div>
</div>