{% load i18n %}

<div class="row row-offcanvas row-offcanvas-left">
  <div id="influences-sidebar" class="col-xs-5 col-sm-2 sidebar sidebar-offcanvas" role="navigation">
      <div id="elements-inf" class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#elements-inf" href="#concept-list">
              <h4 class="panel-title">{% trans 'concepts'|capfirst %}</h4>
            </a>
          </div>
          <div id="concept-list" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="panel-group" id="concept-items">
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#elements-inf" href="#cycle-list">
              <h4 class="panel-title">{% trans 'cycles'|capfirst %}</h4>
            </a>
          </div>
          <div id="cycle-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="cycle-items">
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#elements-inf" href="#material-list">
              <h4 class="panel-title">{% trans 'material relations'|capfirst %}</h4>
            </a>
          </div>
          <div id="material-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="material-items">
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#elements-inf" href="#information-list">
              <h4 class="panel-title">{% trans 'information relations'|capfirst %}</h4>
            </a>
          </div>
          <div id="information-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="information-items">
                                
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#elements-inf" href="#sector-list">
              <h4 class="panel-title">{% trans 'sectors'|capfirst %}</h4>
            </a>
          </div>
          <div id="sector-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="sector-items">
                                
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </div>
  
  <div id="influences-workarea" class="col-xs-13 col-sm-10">
      <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "toggle nav"|capfirst %}</button>
      </p>
      <div id="toolbar-inf" class="toolbar centered">
        <div class="btn-group">
          <button id="cursor-btn-inf" 	   type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf cursor btn title'|capfirst %}">
            <span class="toolbar-btn evo-cursor"></span>
          </button>
          <button id="concept-btn-inf"     type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf concept btn title'|capfirst %}">
            <span class="toolbar-btn evo-concept"></span>
          </button>
          <button id="cycle-btn-inf"       type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf cycle btn title'|capfirst %}">
            <span class="toolbar-btn evo-cycle"></span>
          </button>
          <button id="clone-btn-inf"       type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf clone btn title'|capfirst %}">
            <span class="toolbar-btn evo-clone"></span>
          </button>
          <button id="material-btn-inf"    type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf material relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-material-rel"></span>
          </button>
          <button id="information-btn-inf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf information relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-information-rel"></span>
          </button>
          <button id="sector-btn-inf"      type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf sector btn title'|capfirst %}">
            <span class="toolbar-btn evo-sector"></span>
          </button>
        </div>   
      </div>
      
      <div id="language-inf" class="language">
        <div id="svg-div-inf" class="svg-div">
          
        </div>
      </div>
      <div id="messages-inf" class="messages centered">
          
      </div>
  </div>
</div>