{% load filters i18n %}

<form id="prose_form" class="form-horizontal" action="/projects/prose/" method="post">
  <div class="col-lg-8 col-centered">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ prose_form.title|id }}" class="control-label">{{ prose_form.title|verbosename }}</label>
      <input  type=       "text" 
              id=         "{{ prose_form.title|id }}" 
              name=       "{{ prose_form.title|id }}" 
              class=      "form-control" 
              maxlength=  "{{ prose_form.title|maxlength }}" 
              placeholder="{% trans 'prose title placeholder'|capfirst %}">
    </div>
    <div class="form-group">
      <label for="{{ prose_form.description|id }}" class="control-label">{{ prose_form.description|verbosename }}</label>
      <!--<textarea id= "{{ prose_form.description|id }}"
                name=       "{{ prose_form.description|id }}" 
                class=      "form-control" 
                maxlength=  "200" 
                cols=       "40" 
                rows=       "10" 
                placeholder="{% trans 'prose description placeholder'|capfirst %}"></textarea>-->
    
      
      <div class="btn-toolbar toolbar-editor" data-role="editor-toolbar" data-target="#prose-editor">
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
          </div>
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
            <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
            <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
          <a class="btn btn-primary" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
          <a class="btn btn-primary" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
          <a class="btn btn-primary" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
          <a class="btn btn-primary" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
          <a class="btn btn-primary" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
          <a class="btn btn-primary" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
          <a class="btn btn-primary" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
          <a class="btn btn-primary" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
          <a class="btn btn-primary" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
        </div>
        <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
          <div class="dropdown-menu input-append">
            <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
            <button class="btn btn-primary" type="button">Add</button>
          </div>
          <a class="btn btn-primary" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>
        
        </div>
        
        <div class="btn-group">
          <a class="btn btn-primary" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
          <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
          <a class="btn btn-primary" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
        </div>
      </div>
      
      <div id="prose-editor">
        
      </div>
    </div>
    
    <div class="form-group">
        <div class="col-centered">
            <button type="submit" class="btn btn-primary">{% trans 'save'|capfirst %}</button> 
        </div>
    </div>
  </div>
</form>  