{% load filters i18n %}

<div class="row">
  <div class="col-lg-8 col-centered">
    <div class="form-group">
      <label for="{{ prose_form.title|id }}" class="control-label">{{ prose_form.title|verbosename }}</label>
      <input  type=       "text" 
              id=         "{{ prose_form.title|id }}" 
              name=       "{{ prose_form.title|id }}" 
              class=      "form-control" 
              maxlength=  "{{ prose_form.title|maxlength }}" 
              placeholder="{% trans 'prose title placeholder'|capfirst %}"
              value=      "{{ prose_form.title.value|default_if_none:'' }}">
    </div>
    <div class="form-group">
      <label for="{{ prose_form.description|id }}" class="control-label">{{ prose_form.description|verbosename }}</label>
      <!--<textarea id= "{{ prose_form.description|id }}"
                name=       "{{ prose_form.description|id }}" 
                class=      "form-control" 
                maxlength=  "200" 
                cols=       "40" 
                rows=       "10" 
                placeholder="{% trans 'prose description placeholder'|capfirst %}"></textarea>-->
      
      
      <div class="btn-toolbar toolbar-editor" data-role="editor-toolbar" data-target="#prose-editor">
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="{% trans 'font'|capfirst %}"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="{% trans 'font Size'|capfirst %}"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="bold" title="{% trans 'bold (Ctrl/Cmd+B)'|capfirst %}"><i class="fa fa-bold"></i></a>
          <a class="btn btn-primary" data-edit="italic" title="{% trans 'italic (Ctrl/Cmd+I)'|capfirst %}"><i class="fa fa-italic"></i></a>
          <a class="btn btn-primary" data-edit="strikethrough" title="{% trans 'strikethrough'|capfirst %}"><i class="fa fa-strikethrough"></i></a>
          <a class="btn btn-primary" data-edit="underline" title="{% trans 'underline (Ctrl/Cmd+U)'|capfirst %}"><i class="fa fa-underline"></i></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="insertunorderedlist" title="{% trans 'bullet list'|capfirst %}"><i class="fa fa-list-ul"></i></a>
          <a class="btn btn-primary" data-edit="insertorderedlist" title="{% trans 'number list'|capfirst %}"><i class="fa fa-list-ol"></i></a>
          <a class="btn btn-primary" data-edit="outdent" title="{% trans 'reduce indent (Shift+Tab)'|capfirst %}"><i class="fa fa-outdent"></i></a>
          <a class="btn btn-primary" data-edit="indent" title="{% trans 'indent (Tab)'|capfirst %}"><i class="fa fa-indent"></i></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="justifyleft" title="{% trans 'align Left (Ctrl/Cmd+L)'|capfirst %}"><i class="fa fa-align-left"></i></a>
          <a class="btn btn-primary" data-edit="justifycenter" title="{% trans 'center (Ctrl/Cmd+E)'|capfirst %}"><i class="fa fa-align-center"></i></a>
          <a class="btn btn-primary" data-edit="justifyright" title="{% trans 'align Right (Ctrl/Cmd+R)'|capfirst %}"><i class="fa fa-align-right"></i></a>
          <a class="btn btn-primary" data-edit="justifyfull" title="{% trans 'justify (Ctrl/Cmd+J)'|capfirst %}"><i class="fa fa-align-justify"></i></a>
        </div>
        <div class="btn-group">
          <div class="dropdown-menu input-append">
            <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
            <button class="btn btn-primary" type="button">Add</button>
          </div>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="{% trans 'hyperlink'|capfirst %}">
            <i class="fa fa-link"></i>
          </a>
          <a class="btn btn-primary" data-edit="unlink" title="{% trans 'remove Hyperlink'|capfirst %}"><i class="fa fa-cut"></i></a>
        </div>
        
        <div class="btn-group">
          <a class="btn btn-primary" title="{% trans 'insert picture (or just drag & drop)'|capfirst %}" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
          <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" data-edit="undo" title="{% trans 'undo (Ctrl/Cmd+Z)'|capfirst %}"><i class="fa fa-undo"></i></a>
          <a class="btn btn-primary" data-edit="redo" title="{% trans 'redo (Ctrl/Cmd+Y)'|capfirst %}"><i class="fa fa-repeat"></i></a>
        </div>
      </div>
      
      <div id="prose-editor" class="prose-editor">{{ prose_form.description.value|default_if_none:'' }}</div>
    </div>
  </div>
  
  <div id="messages-pro" class="messages centered">
    
  </div>
</div>