{% load i18n %}

<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-5 col-sm-2 sidebar sidebar-offcanvas" id="_influences-sidebar" role="navigation">
      <div class="panel-group" id="saf-elements">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#influences-elements" href="#concepts-list">
              <h4 class="panel-title">{% trans 'concepts'|capfirst %}</h4>
            </a>
          </div>
          <div id="_concepts-list" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="panel-group" id="_concepts-items">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#concepts-items" href="#concept-item-0">
                      <h4 class="panel-title">
                        {% trans 'concept'|capfirst %} 0
                      </h4>
                    </a>
                  </div>
                  <div id="concept-item-0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      {% trans 'concept'|capfirst %} 0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#influences-elements" href="#cycles-list">
              <h4 class="panel-title">{% trans 'cycles'|capfirst %}</h4>
            </a>
          </div>
          <div id="_cycles-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="_cycles-items">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#cycles-items" href="#cycle-item-0">
                      <h4 class="panel-title">
                        {% trans 'cycle'|capfirst %} 0
                      </h4>
                    </a>
                  </div>
                  <div id="_cycle-item-0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      {% trans 'cycle'|capfirst %} 0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#influences-elements" href="#material-rels-list">
              <h4 class="panel-title">{% trans 'material relations'|capfirst %}</h4>
            </a>
          </div>
          <div id="_material-rels-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="_material-rels-items">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#material-rels-items" href="#material-rel-item-0">
                      <h4 class="panel-title">
                        {% trans 'material relation'|capfirst %} 0
                      </h4>
                    </a>
                  </div>
                  <div id="_material-rel-item-0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      {% trans 'material relation'|capfirst %} 0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#influences-elements" href="#information-rels-list">
              <h4 class="panel-title">{% trans 'information relations'|capfirst %}</h4>
            </a>
          </div>
          <div id="_information-rels-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="_information-rels-items">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#information-rels-items" href="#information-rel-item-0">
                      <h4 class="panel-title">
                        {% trans 'information relation'|capfirst %} 0
                      </h4>
                    </a>
                  </div>
                  <div id="_information-rel-item-0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      {% trans 'information relation'|capfirst %} 0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#influences-elements" href="#sectors-list">
              <h4 class="panel-title">{% trans 'sectors'|capfirst %}</h4>
            </a>
          </div>
          <div id="_sectors-list" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id="_sectors-items">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#sectors-items" href="#sector-item-0">
                      <h4 class="panel-title">
                        {% trans 'sector'|capfirst %} 0
                      </h4>
                    </a>
                  </div>
                  <div id="_sector-item-0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      {% trans 'sector'|capfirst %} 0
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </div>
  
  <div class="col-xs-13 col-sm-10">
      <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "toggle nav"|capfirst %}</button>
      </p>
      <div id="_toolbar-inf" class="toolbar centered">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf cursor btn title'|capfirst %}">
            <span class="toolbar-btn evo-cursor"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf concept btn title'|capfirst %}">
            <span class="toolbar-btn evo-concept"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf cycle btn title'|capfirst %}">
            <span class="toolbar-btn evo-cycle"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf clone btn title'|capfirst %}">
            <span class="toolbar-btn evo-clone"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf material relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-material-rel"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf information relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-information-rel"></span>
          </button>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'inf sector btn title'|capfirst %}">
            <span class="toolbar-btn evo-sector"></span>
          </button>
        </div>   
      </div>
      
      <div id="_language-inf" class="language">
          <div id="_svg-div-inf" class="cont-svg">
            Influencias
          </div>
      </div>
  </div>
</div>