{% load i18n %}

<div class="row row-offcanvas row-offcanvas-left">
  <div id="stockandflow-sidebar" class="col-xs-5 col-sm-2 sidebar sidebar-offcanvas" role="navigation">
    <div id="elements-saf" class="panel-group">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#parameter-list">
            <h4 class="panel-title">{% trans 'parameters'|capfirst %}</h4>
          </a>
        </div>
        <div id="parameter-list" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="panel-group" id="parameter-items">
                              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#stock-list">
            <h4 class="panel-title">{% trans 'stocks'|capfirst %}</h4>
          </a>
        </div>
        <div id="stock-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="stock-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#flow-list">
            <h4 class="panel-title">{% trans 'flows'|capfirst %}</h4>
          </a>
        </div>
        <div id="flow-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="flow-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#auxiliary-list">
            <h4 class="panel-title">{% trans 'auxiliaries'|capfirst %}</h4>
          </a>
        </div>
        <div id="auxiliary-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="auxiliary-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#exogenous-list">
            <h4 class="panel-title">{% trans 'exogenous'|capfirst %}</h4>
          </a>
        </div>
        <div id="exogenous-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="exogenous-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#delay-list">
            <h4 class="panel-title">{% trans 'delays'|capfirst %}</h4>
          </a>
        </div>
        <div id="delay-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="delay-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#multiplier-list">
            <h4 class="panel-title">{% trans 'multipliers'|capfirst %}</h4>
          </a>
        </div>
        <div id="multiplier-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="multiplier-items">
              
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#fis-list">
            <h4 class="panel-title">{% trans 'fis'|capfirst %}</h4>
          </a>
        </div>
        <div id="fis-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="fis-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#previous-list">
            <h4 class="panel-title">{% trans 'previous values'|capfirst %}</h4>
          </a>
        </div>
        <div id="previous-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="previous-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#submodel-list">
            <h4 class="panel-title">{% trans 'submodels'|capfirst %}</h4>
          </a>
        </div>
        <div id="submodel-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="submodel-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#relation-list">
            <h4 class="panel-title">{% trans 'relations'|capfirst %}</h4>
          </a>
        </div>
        <div id="relation-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="relation-items">
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#elements-saf" href="#sectorsaf-list">
            <h4 class="panel-title">{% trans 'sectors'|capfirst %}</h4>
          </a>
        </div>
        <div id="sectorsaf-list" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group" id="sectorsaf-items">
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div id="stockandflow-workarea" class="col-xs-13 col-sm-10">
      <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{% trans "toggle nav"|capfirst %}</button>
      </p>
      <div id="toolbar-saf" class="toolbar centered">
        <div class="btn-group">
          <button id="cursor-btn-saf" type="button"    class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf cursor btn title'|capfirst %}">
            <span class="toolbar-btn evo-cursor"></span>
          </button>
          <button id="parameter-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf parameter btn title'|capfirst %}">
            <span class="toolbar-btn evo-parameter"></span>
          </button>
          <button id="stock-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf stock btn title'|capfirst %}">
            <span class="toolbar-btn evo-stock"></span>
          </button>
          <button id="flow-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf flow btn title'|capfirst %}">
            <span class="toolbar-btn evo-flow"></span>
          </button>
          <button id="auxiliary-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf auxiliary btn title'|capfirst %}">
            <span class="toolbar-btn evo-auxiliary"></span>
          </button>
          <button id="exogenous-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf exogenous btn title'|capfirst %}">
            <span class="toolbar-btn evo-exogenous"></span>
          </button>
          <button id="delay-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf delay btn title'|capfirst %}">
            <span class="toolbar-btn evo-delay"></span>
          </button>
          <button id="multiplier-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf multiplier btn title'|capfirst %}">
            <span class="toolbar-btn evo-multiplier"></span>
          </button>
          <button id="fis-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf fis btn title'|capfirst %}">
            <span class="toolbar-btn evo-fis"></span>
          </button>
          <button id="previous-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf previous btn title'|capfirst %}">
            <span class="toolbar-btn evo-previous"></span>
          </button>
          <button id="submodel-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf submodel btn title'|capfirst %}">
            <span class="toolbar-btn evo-submodel"></span>
          </button>
          <button id="clone-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf clone btn title'|capfirst %}">
            <span class="toolbar-btn evo-clone"></span>
          </button>
          <button id="relation-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf relation btn title'|capfirst %}">
            <span class="toolbar-btn evo-relation"></span>
          </button>
          <button id="sectorsaf-btn-saf" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans 'saf sector btn title'|capfirst %}">
            <span class="toolbar-btn evo-sector"></span>
          </button>
        </div>   
      </div>
      
      <div id="language-saf" class="language">
          <div id="svg-div-saf" class="svg-div">
            
          </div>
      </div>
      <div id="messages-saf" class="messages centered">
          
      </div>
  </div>
</div>