{% extends "editor/base_editor.html" %}

{% load i18n %}

{% block home %}

    <div class="page-header centered">
      <h1>{{ project.title|capfirst }}</h1>
      <p> {{ project.description|capfirst }}</p>
    </div>
    <div >
      <p>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
    </div>
    
    <div class="row">
      <div class="col-6 col-sm-6  col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'influences'|capfirst%}</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    
      <div class="col-6 col-sm-6 col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'stock and flow'|capfirst%}</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      
      <div class="col-6 col-sm-6  col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'equations'|capfirst%}</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    
      <div class="col-6 col-sm-6 col-lg-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'behaviors'|capfirst%}</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
    
{% endblock%}
