{% load staticfiles filters i18n %}

<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-modal" aria-hidden="true">
    <div class="modal-dialog">
        <form id="sign-in-form" class="form-horizontal" action="/user/sign_in/" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Inicia sesión:</h4>
                </div>        
                <div class="modal-body">
                    {% csrf_token %}
                    <div id='form-message'>
                        {% include 'users/_sign_up_success.html' %}
                        {% include 'users/_sign_up_errors.html' %}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.username|id }}" class="col-lg-3 control-label">{{ form.username|verbosename }}</label>
                        
                        <div class="col-lg-9">
                            <input  type=       "text" 
                                    id=         "{{ form.username|id }}" 
                                    name=       "{{ form.username|id }}" 
                                    class=      "form-control" 
                                    maxlength=  "{{ form.username|maxlength }}" 
                                    placeholder="{% trans 'sign up username placeholder' %}">
                                    
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password|id }}" class="col-lg-3 control-label">{{ form.password|verbosename }}</label>
                        <div class="col-lg-9">
                            <input  type=       "password" 
                                    id=         "{{ form.password|id }}" 
                                    name=       "{{ form.password|id }}" 
                                    class=      "form-control" 
                                    placeholder="{% trans 'sign up password placeholder' %}">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Recordar mi cuenta
                        </label>
                    </div>  
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-lg-12 col-centered">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-centered">
                            <a href="#">Olvidaste tu contraseña</a>   
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->