{% load i18n %}

{% if form_msg %}
    <div class="alert alert-success">
        <a href="#signUpModal" class="alert-link">{% trans "information"|capfirst %}</a>
            {{ form_msg }}        
    </div>
    <script type="text/javascript">
        setTimeout(function() {
          $('#signup-link').remove();
          $('#signin-link').remove();
          
          $('#home_nav .navbar-nav').append("{% filter escapejs %}{% include 'users/_user_dropdown.html' %}{% endfilter %}");
          
          $('#signInModal').modal('hide');
          
          
          window.open(window.location.origin+"/{{ user.username }}/", "_self");
          
           
        }, 1000);
    </script>
{% endif %}