{% extends "layouts/base.html" %}

{% load staticfiles %}

{% load i18n %}


{% block body %}
        
    {% block content %}
      <div class="container">
        <div class="row">
          
        </div><!--/row-->
      </div>
      
      
    {% endblock %}
        
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/projects/main.js' %}"></script>
    
{% endblock %}