{% extends "layouts/base.html" %}

{% load staticfiles i18n %}

{% block nav %} 
  {% include 'layouts/_user_nav.html' %}
{% endblock %}


{% block body %}
        
    {% block content %}
      <div class="container">
        <div class="row">
          <div id="edit-container" class="well">
            <form id="edit-form" class="form-horizontal" action="/user/edit/" method="post">
              <fieldset>
                <legend>{% trans 'user editing'|capfirst %}</legend>
                {% include 'users/_form.html' %}
                <div class="form-group">
                  <div class="col-lg-12 col-centered">
                    <button type="submit" class="btn btn-primary">{% trans 'save submit text' %}</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div><!--/row-->
      </div>
      
      
    {% endblock %}
        
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/users/main.js' %}"></script>
    
{% endblock %}