{% extends "layouts/base.html" %}

{% load staticfiles %}

{% load i18n %}


{% block body %}
        
    {% block content %}
      <p>{{ requested_user.username }}</p>
      
      
    {% endblock %}
        
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
    <script src="{% static 'js/jquery/jquery-1.10.2.min.js' %}"> </script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/holder.js' %}"></script>
    <script src="{% static 'js/users/main.js' %}"></script>
    
{% endblock %}