{% load i18n %}

<li><a id="prose-link" href="#" > {% trans "prose"|capfirst %} </a></li>
<li><a id="influences-link" href="#" > {% trans "influences"|capfirst %} </a></li>
<li><a id="stockandflow-link" href="#" > {% trans "stock and flow"|capfirst %} </a></li>
<li><a id="equations-link" href="#" > {% trans "equations"|capfirst %} </a></li>
<li><a id="behaviors-link" href="#" > {% trans "behaviors"|capfirst %} </a></li>

<li>
  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-envelope fa-fw"></i><b class="caret"></b></a>
  <ul class="dropdown-menu dropdown-messages">
    <li><a href="#">
      <div>
        <strong>John Smith</strong>
        <span class="pull-right text-muted">
            <em>Yesterday</em>
        </span>
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
    </a></li>
    <li class="divider"></li>
    <li><a href="#">
      <div>
        <strong>John Smith</strong>
        <span class="pull-right text-muted">
            <em>Yesterday</em>
        </span>
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
    </a></li>
    <li class="divider"></li>
    <li><a href="#">
      <div>
          <strong>John Smith</strong>
          <span class="pull-right text-muted">
              <em>Yesterday</em>
          </span>
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
    </a></li>
    <li class="divider"></li>
    <li><a class="text-center" href="#">
      <strong>Read All Messages</strong>
      <i class="fa fa-angle-right"></i>
    </a></li>
  </ul>
</li>