<!-- Signin modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Iniciar sesión como:</h4>
            </div>
            <form class="bs-example form-horizontal">
            
            <div class="modal-body">    
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Correo electr&oacute;nico</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Correo electr&oacute;nico">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Recordar mi cuenta
                    </label>
                  </div>
                </div>
              </div>  
          </div>
          <div class="modal-footer">
            <div class="row">
                <div class="col-lg-12 col-centered">
                  <button type="submit" class="btn btn-primary">Iniciar sesión</button> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-centered">
                      <a href="#">Olvidaste tu contraseña</a> 
                </div>
            </div>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->