{% load filters %}

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="form-horizontal" action="/sign_up" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Regístrate</h4>
        </div>
        
        <div class="modal-body">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ sign_form.name.auto_id }}" class="col-lg-3 control-label">{{ sign_form.name.name }}</label>
                <div class="col-lg-9">
                    {{ sign_form.name|addcssplaceholder:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ sign_form.surname.auto_id }}" class="col-lg-3 control-label">{{ sign_form.surname.name }}</label>
                <div class="col-lg-9">
                    {{ sign_form.surname|addcssplaceholder:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ sign_form.username.auto_id }}" class="col-lg-3 control-label">{{ sign_form.username.name }}</label>
                <div class="col-lg-9">
                    {{ sign_form.username|addcssplaceholder:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ sign_form.email.auto_id }}" class="col-lg-3 control-label">{{ sign_form.email.name }}</label>
                <div class="col-lg-9">
                    {{ sign_form.email|addcssplaceholder:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ sign_form.password.auto_id }}" class="col-lg-3 control-label">{{ sign_form.password.name }}</label>
                <div class="col-lg-9">
                    {{ sign_form.password|addcssplaceholder:"form-control" }}
                </div>
            </div>
            <div class="checkbox">
                <label>
                    {{ sign_form.accept_terms}}
                    Acepto las <a href="/terms" target="_blank">Condiciones del servicio de Evoluci&oacute;n Web</a>
                </label>
            </div>            
        </div>
      
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-lg-12 col-centered">
                  <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-centered">
                      <a href="#" data-toggle="modal" data-target="#signInModal">Iniciar sesi&oacute;n</a> 
                </div>
            </div>
        </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->