{% load i18n %}

<li id='user-dropdown'>
  <a class='dropdown-toggle' data-toggle='dropdown' href='#'> <i class='fa fa-user fa-fw'></i><b class='caret'></b> </a>
  <ul class='dropdown-menu dropdown-user'>
      <li><a href='/user/edit/'><i class='fa fa-user fa-fw'></i>{{ user.username|capfirst }}</a></li>
      <li><a href='#'><i class='fa fa-gear fa-fw'></i>{% trans 'settings'|capfirst %}</a></li>
      <li class='divider'></li>
      <li>
        <a id='logout' href='#'><i class='fa fa-sign-out fa-fw'></i> {% trans 'logout'|capfirst %} </a>
        <form id='logout-form' action="/user/logout/" method="post">
          {% csrf_token %}
        </form>
      </li>
  </ul>
</li>