{% load i18n %}

<li>
  <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" ><i class="fa fa-envelope fa-fw"></i><b class="caret"></b></a>
  <ul class="dropdown-menu dropdown-messages">
    <li><a href="#">
      <div>
        <strong>John Smith</strong>
        <span class="pull-right text-muted">
            <em>Yesterday</em>
        </span>
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
    </a></li>
    <li class="divider"></li>
    <li><a href="#">
      <div>
        <strong>John Smith</strong>
        <span class="pull-right text-muted">
            <em>Yesterday</em>
        </span>
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
    </a></li>
    <li class="divider"></li>
    <li><a href="#">
      <div>
          <strong>John Smith</strong>
          <span class="pull-right text-muted">
              <em>Yesterday</em>
          </span>
      </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
    </a></li>
    <li class="divider"></li>
    <li><a class="text-center" href="#">
      <strong>Read All Messages</strong>
      <i class="fa fa-angle-right"></i>
    </a></li>
  </ul>
</li>

<li id='user-dropdown'>
  <a class='dropdown-toggle' data-toggle='dropdown' href='#'> <i class='fa fa-user fa-fw'></i><b class='caret'></b> </a>
  <ul class='dropdown-menu dropdown-user'>
      <li><a href='/user/edit/'><i class='fa fa-user fa-fw'></i>{{ user.username|capfirst }}</a></li>
      <li><a href='/{{ user.username }}/' target="_blank"><i class='fa fa-paper-plane fa-fw'></i>{% trans 'my projects'|capfirst %}</a></li>
      <li><a href='#'><i class='fa fa-gear fa-fw'></i>{% trans 'settings'|capfirst %}</a></li>
      <li class='divider'></li>
      <li>
        <a id='logout' href='#'><i class='fa fa-sign-out fa-fw'></i> {% trans 'logout'|capfirst %} </a>
        <form id='logout-form' action="/user/logout/" method="post">
          {% csrf_token %}
        </form>
      </li>
  </ul>
</li>