{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <!-- manifest="{% static 'evolucion.appcache' %}" -->
    
    <head>
        <title>Evoluci&oacute;n Web</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Evolución Web, ambiente para el modelado y la simulación con dinámica de sistemas.">
        <meta name="keywords" content="evolución web, modelado y simulación, herramienta software, dinámica de sistemas">
        <meta name="author" content="John Garavito Suárez">

        <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}">
    
        <!-- Bootstrap -->
        {% block csslinks %}
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/spacelab/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/bootstrap/bootstrap_home.css' %}" rel="stylesheet">
        
        {% endblock %}
        
        
        <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <!-- NAVBAR ================================================== -->
    <body>
        {% block nav %} 
          {% include 'layouts/_main_nav.html' %}
          {% if user.is_anonymous %}
            {% include 'users/_sign_up.html' %}
            {% include 'users/_sign_in.html' %}
          {% endif %}
        {% endblock %}
        
        {% block body %} 
        
        {% endblock %}
    </body>
</html>

