{% extends "layouts/base.html" %}

{% load staticfiles i18n %}


{% block body %}
    {% block content %}
      <div class="container">
        <div class="page-header">
          <h1>{% trans 'all projects'|capfirst %}</h1>
          <p> {% trans 'all projects description'|capfirst %}</p>
        </div>
        
        <div id="projects-container" class="row">  
          {% for project in projects %}
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="well">
                <fieldset>
                    <legend>{{ project.title|capfirst }}</legend>
                    
                    <p><b>{% trans 'description'|capfirst %}: </b>{{ project.description|capfirst }}</p>
                    <p><b>{% trans 'author'|capfirst %}: </b> <a href="/{{ project.user.username }}">{{ project.user.first_name|capfirst }} {{ project.user.last_name|capfirst }}</a></p>
                    <div class="form-group">
                      <div class="col-lg-12 centered">
                        <button id="{{ project.user.username }}-{{ project.name }}" class="btn btn-primary btn-open">{% trans 'open project'|capfirst%}</button>
                        {% if project.user.username != user.username %}
                        <button id="{{ project.user.username }}-{{ project.name }}-fork" class="btn btn-primary btn-fork">{% trans 'fork project'|capfirst%}</button>
                        {% endif %}
                        
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div><!--/span-->
          {% endfor %}
        </div>
        
      </div>
    
    {% endblock %}
    
    <script src="{% static 'js/require/require.js' %}" data-main="{% static 'js/require/explore' %}"></script>
    
{% endblock %}


