{% extends "layouts/base.html" %}

{% load staticfiles i18n %}

{% block nav %}
  {% include 'layouts/_user_nav.html' %}
  {% if user.is_anonymous %}
    {% include 'users/_sign_up.html' %}
    {% include 'users/_sign_in.html' %}
  {% endif %}
{% endblock %}

{% block body %}
    {% block content %}
      <div class="container">
        <div class="row">
          <div class="jumbotron">
            <h2>{{ requested_user.username|capfirst }}</h2>
            <p>{{ requested_user.occupation|capfirst }}</p>
          </div>
        </div><!--/row-->
        
        <div id="projects-container" class="row">  
          {% for project in projects %}
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="well">
                <fieldset>
                    <legend>{{ project.title|capfirst }}</legend>
                    {{ project.title|urlize }}
                    <p>{{ project.description|capfirst }}</p>
                    
                    <div class="form-group">
                      <div class="col-lg-12 col-centered">
                        <button id="{{ project.get_button_id }}" class="btn btn-primary btn-open">{% trans 'open project'|capfirst%}</button> 
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div><!--/span-->
          {% endfor %}
          
          {% if user.is_authenticated %}
            <div class="col-6 col-sm-6 col-lg-4">
              <div class="well">
                <form id="new-project-form" class="form-horizontal" action="/projects/new/" method="post">
                  <fieldset>
                    <legend>{% trans 'new project'|capfirst%}</legend>
                    <div id='form-message'>
                      
                    </div>
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="title" class="col-lg-3 control-label">{% trans 'title'|capfirst %}</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="title" name="title" placeholder="{% trans 'new project title'|capfirst %}">
                      </div>
                    </div>
               
                    <div class="form-group">
                      <label for="description" class="col-lg-3 control-label">{% trans 'description'|capfirst %}</label>
                      <div class="col-lg-9">
                        <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                        <span class="help-block">{% trans 'project description'|capfirst %}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12 col-centered">
                        <button type="submit" class="btn btn-primary">{% trans 'launch project'|capfirst%}</button> 
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div><!--/span-->
          {% endif %}
        </div><!--/row-->
      </div>
      
      
    {% endblock %}
        
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/projects/main.js' %}"></script>
    
{% endblock %}